/* Basic css other than bootstrap for employees  */


/*==============================================
LOGIN PAGE    
=============================================*/

a.login{
    color:#939598;
}
a.login:hover {
  color:#656668;
}
body.login{
    background-color:#dddede; 
    color:#939598;
}

body {
    
    font-family: 'Questrial', sans-serif;
    line-height:25px;
    font-family: 'Open Sans',serif;
}

button.login{
    background-color:#939598;
    color:#dddede;
    padding: 5px 15px;
    border-radius: 4px;
}


/*==============================================
General pages   
=============================================*/

/*.navbar-cls-top .navbar-brand:hover {
    background: #dddede;
    color: #fff;
} */


/* user image*/
.user-img-div {
    background-color: #dddede;
    
}

 
/* user image text*/
.user-img-div .inner-text {
        text-align: center;
        position: relative;
        color: #D2527F;
        font-weight: 800;
        padding-bottom: 20px;
        font-size: 18px;
        
    }




/*left navigation DIV that holds the width margin for left navigation LE*/
.navbar-side {
    border: none;
    background-color: #646669;
    z-index: 1;
    position: absolute;
    width: 290px;
    margin-top: 15px;
    
}


/*left navigation active LE*/
#active-menu {
    background-color: #939598;
   
}


/*left navigation  LE*/
.sidebar-collapse .nav {
    padding: 0;
    height: 100%;
    
    }


/*left navigation li>>a  LE*/
.sidebar-collapse .nav > li > a {
    color: #f2f2f2;
    background: #D2527F;
    text-shadow: none;
    padding: 15px 40px;
    border-bottom: 1px solid #939598;
    padding: 15px 10px;
    border-right:1px solid #646669;        
        }



/*left navigation li>>a hovering  LE*/
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #cdcfd1;
    color: #D2527F;
    outline: 0;
    }



/*left navigation second level li>>a  LE*/
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
    padding-left: 37px;
}


/*left navigation second,third level li>>a  LE*/
.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}


/*left navigation second,third level li>>a  LE*/
.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}



/*left navigation second,third level li>>a  LE*/    
.nav-third-level li a {
    padding-left: 55px;
    }





#wrapper {
    width: 100%;
    background-color: #dddede;
    line-height:25px;
    font-family: 'Open Sans',serif;
}

#page-wrapper {
    
    min-height: 600px;
    background: #dddede;
    margin: 0 0 0 260px;
    padding: 15px 0px 0px 30px;
    
    }

}


/* margin for logo LE */
#logomargin{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0
}


/* Content div LE */
#page-inner {
    width: 100%;
    margin: 0px;
    background-color: #939598!important;
    padding: 10px;
    min-height: 1200px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #f2f2f2;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;

}


/*==============================================
    MENU STYLES    
    =============================================*/










.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}





/*TOP background color LE*/
.navbar-cls-top {
    background: #dddede;
    border: none;
    height: 100px;

}


.nav > li > a > i {
    margin-right: 10px;
}
/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color:#646669;
    padding:20px 10px;
    color:#fff;
    font-size:12px;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#fff;
        text-decoration:none;
    }
/*==============================================
    MEDIA QUERIES     
    =============================================*/


    .navbar {
        border-radius: 0px;
    }

/* content headings /table headings table outer border LE */

.panel-info {
  border-color: #939598;
    background-color: #dddede;
}

.panel-body{
    border-color: #f2f2f2;
}

/* content headings inner table LE */
.panel-info > .panel-heading {
  color: #656668;
  background-color: #dddede;
  border-color: #f2f2f2;
}

thead{
    color: #939598;
    background-color: #f2f2f2;
    border:#656668;
}

.table-bordered{
    border-bottom-style: inset;
}
